<div class="edit-password-form">
  <h3>Current Password</h3>
  <span class="ui-float-label">
      <input type="text" size="30" pInputText [(ngModel)]="text" required="true"> 
  </span>
</div>
<div class="edit-password-form">
  <h3>Email Address *</h3>
  <span class="ui-float-label">
      <input type="text" size="30" pInputText [(ngModel)]="text"> 
  </span>
</div>
<div class="edit-password-form">
  <h3>User Name *</h3>
  <span class="ui-float-label">
      <input type="text" size="30" pInputText [(ngModel)]="text"> 
  </span>
</div>

<!-- password input -->
<div class="password edit-password-form">
  <h3>Password *</h3>
  <input type="password" pPassword />
</div>

<!-- radio -->
<div class="edit-password-form">
  <h3 class="first">status</h3>
  <div class="ui-g" style="width:250px;margin-bottom:10px">
      <div class="ui-g-12"><p-radioButton name="group1" value="Blocked" label="Blocked" [(ngModel)]="val1" inputId="opt1"></p-radioButton></div>
      <div class="ui-g-12"><p-radioButton name="group1" value="Active" label="Active" [(ngModel)]="val1" inputId="opt2"></p-radioButton></div>
  </div>
</div>
<!-- Selected Value = {{val1||'none'}} -->

<!-- check box -->
<div class="edit-password-form" for="userRoles">
  <h3 class="first">Roles</h3>
  <div class="ui-g" style="width:250px;margin-bottom:10px" *ngFor="let userRole of userRoles">
      <div class="ui-g-12"><p-checkbox name="{{userRole.name}}" value="{{userRole.value}}" label="{{userRole.label}}" [(ngModel)]="selectedRoles"></p-checkbox></div>
  </div>
</div>
Selected Roles: <span *ngFor="let role of selectedRoles" style="margin-right:10px">{{role}}</span>

<!-- button -->
<div>
  <button pButton type="button" label="SAVE" class="save-button" style="margin: 10px;"></button>
  <button pButton type="button" label="CANCEL ACCOUNT" class="cancel-button" style="margin: 10px;"></button>
</div>