
<!-- <div class="{{eachtabcontent.tabData.middle.class}} ng-chart-second-level">
  <div class="{{eachtabcontent.tabData.middle.middleMiddle.styleClass}}">
    <p-chart type="{{eachtabcontent.tabData.middle.middleMiddle.type}}" height="300px" [data]="eachtabcontent.tabData.middle.middleMiddle.data" [options]="eachtabcontent.tabData.middle.middleMiddle.options">
    </p-chart>
  </div>
  <div class="{{eachtabcontent.tabData.middle.middleRight.styleClass}}">
    <div [innerHTML]="eachtabcontent.tabData.middle.middleRight.value"></div>
  </div>
</div> -->

<!-- new router -->
<!-- chart -->
<div class="row" for="primengDataGeneral">
  <div *ngFor="let blockData of primengDataGeneral" >
    <div for="blockData.blockContent">
      <div class="{{blockData.blockClass}}">
        <div class="{{blockData.blockClassSub}}">
          <div [innerHTML]="blockData.blockHeader"></div>
          <p-tabView class="ng-tab-view-wrapper-{{blockData.tabShow}}">
            <div *ngFor="let eachtabcontent of blockData.blockContent; let i = index">
              <p-tabPanel header="{{eachtabcontent.tabTitle}}" class="ng-tab-panel-wrapper" [selected]="i == 0">
                <div class="{{eachtabcontent.tabData.class}} ng-tab-top-class">
                  <div [innerHTML]="eachtabcontent.tabData.top.value">
                  </div>

                  <!-- chartjs -->
                  <div *ngIf="eachtabcontent.tabData.type == 'chart'; else elseBlock">
                  	<div class="{{eachtabcontent.tabData.middle.class}} ng-chart-second-level">
                  	  <div class="{{eachtabcontent.tabData.middle.middleMiddle.styleClass}}">
                  	    <p-chart type="{{eachtabcontent.tabData.middle.middleMiddle.type}}" height="300px" [data]="eachtabcontent.tabData.middle.middleMiddle.data" [options]="eachtabcontent.tabData.middle.middleMiddle.options">
                  	    </p-chart>
                  	  </div>
                  	  <div class="{{eachtabcontent.tabData.middle.middleRight.styleClass}}">
                  	    <div [innerHTML]="eachtabcontent.tabData.middle.middleRight.value"></div>
                  	  </div>
                  	</div>
                  </div>
                  <div [innerHTML]="eachtabcontent.tabData.bottom.value">
                  </div>
                </div>
              </p-tabPanel>
            </div>
          </p-tabView>
        </div>
      </div>
    </div>
  </div>
</div>