<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Paginating Table</title>



      <link rel="stylesheet" href="css/style.css">


</head>

<body>
  <div id="sixthTable">
     <input type="text" v-model="search" class="form-control" />
   <table>
     <thead>
       <tr>
         <th v-for="col in columns" v-on:click="sortTable(col)">{{col}}
           <div class="arrow" v-if="col == sortColumn" v-bind:class="[ascending ? 'arrow_up' : 'arrow_down']"></div>
         </th>
       </tr>
     </thead>
     <tbody>
       <tr v-for="row in get_rows()">
         <td v-for="col in columns">{{row[col]}}</td>
       </tr>
     </tbody>
  </table>
  <div class="pagination">
    <div class="number"
         v-for="i in num_pages()"
         v-bind:class="[i == currentPage ? 'active' : '']"
         v-on:click="change_page(i)">{{i}}</div>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>

    <script  src="js/index.js"></script>

</body>
</html>
