<!-- 2 -->
<!-- server, servers -->
<!-- <div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>hello this is my app</h3>
			<hr>
		</div>
		<div class="col-md-6">
			<input type="text" [(ngModel)]="name" >
			<p>{{name}}</p>
		</div>
		<div class="col-md-6">
			<h1>
				<app-servers></app-servers>
			</h1>
		</div>
	</div>
</div>
 -->

<!-- 5 -->
 <div class="container">
   <div class="row">
     <div class="col-xs-12">
       <p>Add new Servers or blueprints!</p>
       <label>Server Name</label>
       <input type="text" class="form-control" [(ngModel)]="newServerName">
       <label>Server Content</label>
       <input type="text" class="form-control" [(ngModel)]="newServerContent">
       <br>
       <button
         class="btn btn-primary"
         (click)="onAddServer()">Add Server</button>
       <button
         class="btn btn-primary"
         (click)="onAddBlueprint()">Add Server Blueprint</button>
     </div>
   </div>
   <hr>
   <div class="row">
     <div class="col-xs-12">
       <div
         class="panel panel-default"
         *ngFor="let element of serverElements">
         <div class="panel-heading">{{ element.name }}</div>
         <div class="panel-body">
           <p>
             <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
             <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
           </p>
         </div>
       </div>
     </div>
   </div>
 </div>
