<div *ngFor="let eachMeetingEventData of ngFormcomponentData; let i=index" >
  <div *ngIf="eachMeetingEventData.displayType == 'dropdown'; else elseBlock">
  	<div style="margin: 20px;">
  	  <div style="color:#00a9e0; font-size: 14px;">
  	    <span>{{eachMeetingEventData.fieldName}}</span>
  	  </div>
  	  <p-dropdown 
  	  [options]="eachMeetingEventData.data" 
  	  [(ngModel)]="totalResults[i]" 
  	  [autoWidth]="false" 
  	  [showClear]="true"
  	  [style]="{'width':'500px'}">
  	       <ng-template let-item pTemplate="selectedItem"> 
  	          <span>{{item.label}}</span>
  	      </ng-template> 
  	      <ng-template let-car pTemplate="item"> 
  	          <div>
  	          <div>{{car.label}}</div> </div>
  	      </ng-template>
  	  </p-dropdown>
  	</div>
  </div>
  <div *ngIf="eachMeetingEventData.displayType == 'multiselect'; else elseBlock">
  	<div style="margin: 20px;">
  	  <div style="color:#00a9e0; font-size: 14px;">
  	    <span>{{eachMeetingEventData.fieldName}}</span>
  	  </div>
  	  <p-multiSelect 
  	  [options]="eachMeetingEventData.data" 
  	  [(ngModel)]="totalResults[i]" 
  	  [panelStyle]="{minWidth:'30em'}"
  	  [filter]="true"></p-multiSelect>
  	</div>
  </div>
  <div *ngIf="eachMeetingEventData.displayType == 'textfield'; else elseBlock">
  	<div style="margin: 20px;">
  	  <div style="color:#00a9e0; font-size: 14px;">
  	    <span>{{eachMeetingEventData.fieldName}}</span>
  	  </div>
  	  <textarea 
  	  [rows]="5" 
  	  [cols]="68"
  	  [(ngModel)]="totalResults[i]"
  	  placeholder="totalResults[i]"
  	  pInputTextarea 
  	  autoResize="autoResize"></textarea>
  	</div>
  </div>

	
	<!-- <h4>add meeting form</h4>
	<div style="margin: 20px;">
	  <div style="color:#00a9e0; font-size: 14px;">
	    <span>Meeting Name</span>
	  </div>
	  <textarea 
	  [rows]="5" 
	  [cols]="68"
	  [(ngModel)]="enteredMeetingName" 
	  placeholder="{{enteredMeetingName}}" 
	  pInputTextarea 
	  autoResize="autoResize"></textarea>
	</div>

	<div style="margin: 20px;">
	  <div style="color:#00a9e0; font-size: 14px;">
	    <span>Program</span>
	  </div>
	  <p-dropdown 
	  [options]="eachMeetingEventData.programs.data" 
	  [(ngModel)]="selectedProgram"
	  [autoWidth]="false" 
	  [showClear]="true"
	  [style]="{'width':'500px'}">
	       <ng-template let-item pTemplate="selectedItem"> 
	          <span>{{item.label}}</span>
	      </ng-template> 
	      <ng-template let-car pTemplate="item"> 
	          <div>
	          <div>{{car.label}}</div> </div>
	      </ng-template>
	  </p-dropdown>
	</div>

	
	<div style="margin: 20px;">
	  <div style="color:#00a9e0; font-size: 14px;">
	    <span>Module</span>
	  </div>
	  <p-multiSelect 
	  [options]="eachMeetingEventData.modules.data" 
	  [(ngModel)]="selectedModules" 
	  [panelStyle]="{minWidth:'30em'}"
	  [filter]="true"></p-multiSelect>
	  <p>Selected modules: {{selectedModules}}</p>
	</div>
 -->
	<!-- program type -->
	<!-- <div style="margin: 20px;">
	  <div style="color:#00a9e0; font-size: 14px;">
	    <span>Program Type</span>
	  </div>
	  <p-dropdown 
	  [options]="eachMeetingEventData.programTypes.data" 
	  [(ngModel)]="selectedProgramType" 
	  placeholder="Select a program type" 
	  optionLabel="name" 
	  [showClear]="true"
	  filter="true"
	  [autoWidth]="false" 
	  [style]="{'width': '500px'}"></p-dropdown>
	</div> -->

	<!-- evaluation form -->
	<!-- <div style="margin: 20px;">
	  <div style="color:#00a9e0; font-size: 14px;">
	    <span>Evaluation Form</span>
	  </div>
	  <p-dropdown 
	  [options]="eachMeetingEventData.evaluationForms.data" 
	  [(ngModel)]="selectedEvaluationForms" 
	  [showClear]="true"
	  filter="true"
	  [autoWidth]="false" 
	  [style]="{'width': '500px'}">
	  	 <ng-template let-item pTemplate="selectedItem"> 
	  	    <span>{{item.label}}</span>
	  	</ng-template> 
	  	<ng-template let-car pTemplate="item"> 
	  	    <div>
	  	    <div>{{car.label}}</div> </div>
	  	</ng-template>
	  </p-dropdown>
	</div> -->

	<!-- Meeting Format -->
	<!-- <div style="margin: 20px;">
	  <div style="color:#00a9e0; font-size: 14px;">
	    <span>Meeting Format</span>
	  </div>
	  <p-dropdown 
	  [options]="eachMeetingEventData.meetingFormats.data" 
	  [(ngModel)]="selectedMeetingFormats" 
	  placeholder="Select a meeting format" 
	  [showClear]="true"
	  filter="true"
	  [autoWidth]="false" 
	  [style]="{'width': '500px'}"></p-dropdown>
	</div> -->

	<!-- Time -->
	<!-- <div style="margin: 20px;">
	  <div style="color:#00a9e0; font-size: 14px;">
	    <span>Meeting Time</span>
	  </div>

	  <p-dropdown 
	  [options]="eachMeetingEventData.meetingTimes.data" 
	  [(ngModel)]="selectedMeetingTimes" 
	  placeholder="Select a meeting Time" 
	  optionLabel="name" 
	  [showClear]="true"
	  filter="true"
	  [autoWidth]="false" 
	  [style]="{'width': '500px'}"></p-dropdown>
	</div> -->

	<!-- speaker -->
	<!-- <div style="margin: 20px;">
	  <div style="color:#00a9e0; font-size: 14px;">
	    <span>Speaker</span>
	  </div>
	  <p-multiSelect 
	  [options]="eachMeetingEventData.speakers.data" 
	  [(ngModel)]="selectedSpeakers" 
	  [panelStyle]="{minWidth:'30em'}"

	  [filter]="true"></p-multiSelect>
	</div> -->

	<!-- Multi Therapeituc Event -->
	<!-- <div style="margin: 20px;">
	  <div style="color:#00a9e0; font-size: 14px;">
	    <span>Multi-Therapeituc Event</span>
	  </div>
	  <p-dropdown 
	  [options]="eachMeetingEventData.multiTherapeuticEvent.data" 
	  [(ngModel)]="selectedMultiTherapeitucEvent" 
	  placeholder="Select a Multi-Therapeituc Event" 
	  [showClear]="true"
	  filter="true"
	  [autoWidth]="false" 
	  [style]="{'width': '500px'}"></p-dropdown>
	</div> -->

	<!-- Location -->
	<!-- <div style="margin: 20px;">
	  <div style="color:#00a9e0; font-size: 14px;">
	    <span>Location</span>
	  </div>
	  <p-dropdown 
	  [options]="eachMeetingEventData.location.data" 
	  [(ngModel)]="selectedMeetingLocation" 
	  placeholder="Select a location" 
	  [showClear]="true"
	  filter="true"
	  [autoWidth]="false" 
	  [style]="{'width': '500px'}"></p-dropdown>
	</div> -->

	<!-- Venue Name -->
	<!-- <div style="margin: 20px;">
	  <div style="color:#00a9e0; font-size: 14px;">
	    <span>Venue Name</span>
	  </div>
	  <input 
	  type="text" 
	  size="68" 
	  [(ngModel)]="enteredVenueName" 
	  placeholder=" " 
	  pInputText> 
	</div> -->

	<!-- Address -->
	<!-- <div style="margin: 20px;">
	  <div style="color:#00a9e0; font-size: 14px;">
	    <span>Address</span>
	  </div>
	  <input 
	  type="text" 
	  size="68" 
	  [(ngModel)]="enteredAddress" 
	  placeholder=" " 
	  pInputText> 
	</div> -->

	<!-- canada city -->
	<!-- <div style="margin: 20px;">
	  <div style="color:#00a9e0; font-size: 14px;">
	    <span>Canada City</span>
	  </div>
	  <p-dropdown 
	  [options]="eachMeetingEventData.canadaCity.data" 
	  [(ngModel)]="selectedCanadaCity" 
	  placeholder="Select a canada city" 
	  [showClear]="true"
	  filter="true"
	  [autoWidth]="false" 
	  [style]="{'width': '500px'}"></p-dropdown>
	</div> -->

	<!-- Event ME -->
	<!-- <div style="margin: 20px;">
	  <div style="color:#00a9e0; font-size: 14px;">
	    <span>Event ME</span>
	  </div>
	  <textarea 
	  [rows]="5" 
	  [cols]="68" 
	  pInputTextarea 
	  autoResize="autoResize"
	  [(ngModel)]="enteredEventME"></textarea>
	</div> -->

	<!-- Signature -->
	<!-- <div style="margin: 20px;">
	  <div style="color:#00a9e0; font-size: 14px;">
	    <span>Signature</span>
	  </div>
	  <textarea 
	  [rows]="5" 
	  [cols]="68" 
	  pInputTextarea 
	  autoResize="autoResize"
	  [(ngModel)]="enteredSignature"></textarea>
	</div> -->

	<!-- Evaluation Number -->
	<!-- <div style="margin: 20px;">
	  <div style="color:#00a9e0; font-size: 14px;">
	    <span>Evaluation Number</span>
	  </div>
	  <textarea 
	  [rows]="5" 
	  [cols]="68" 
	  pInputTextarea 
	  autoResize="autoResize"
	  [(ngModel)]="enteredEvaluationNumber"></textarea>
	</div> -->

	
<!-- json json json json -->
	<!-- {
	  "fieldName":"custom text",
	  "inputType": "customText textfield radio checkbox multiselect",
	  "displayType": "customeText",
	  "default": {
	    "id": 1111
	  },
	  "data":[
	    {"name": "2018 Diabetes Canada Clinical Practice Guidelines: Chapter 23: Cardiovascular Protection"}
	  ]
	}, -->
	
</div>

<div class="row">
		<div class="col-md-2" style="margin: 20px;">
		  <p-button 
		  label="SUBMIT" 
		  (onClick)="save()"></p-button>
		</div>

		<div class="col-md-2" style="margin: 20px;">
		  <p-button 
		  label="SAVE&EVALUATE" 
		  (onClick)="save()"></p-button>
		</div>
	</div>
