
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

body {
  padding: 20px;
}

.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}

.bg-009ddf{
  background-color: #0090df;
}
.bg-c6c6c6{
  background-color: #c6c6c6;
}
.bg-f7d417{
  background-color: #f7d417;
}

.color-fff {
  color: #000;
}

.height-60 {
  height: 60px;
}
.bg-05d23e {
  background-color: #05d23e;
}

.bg-00aade {
  background-color: #001a4e;
}
.width-10 {
  width: 10px;
}

.height-10 {
  height: 10px;
}

.height-400 {
  height: 400px;
}

.bottom-border {
  border: 1px solid grey;
}

.middle-border {
  border: 2px solid lightblue;
}

.legend-square {
  float: left;
  height: 12px;
  width: 12px;
  margin: 2px;
  margin-right: 6px;
}