<!--The content below is only a placeholder and can be replaced.-->

<div class="app-test"></div>
<!-- <div app-test></div> -->

<div class="row" for="tableDataGeneral">
  <div *ngFor="let blockData of tableDataGeneral" >
    <div for="blockData.blockContent">
      <div class="{{blockData.blockClass}}">
        <div class="{{blockData.blockClassSub}}">
          <div [innerHTML]="blockData.blockHeader"></div>
          <p-tabView class="ng-tab-view-wrapper-{{blockData.tabShow}}">
            <div *ngFor="let eachtabcontent of blockData.blockContent; let i = index">
              <p-tabPanel header="{{eachtabcontent.tabTitle}}" class="ng-tab-panel-wrapper" [selected]="i == 0">
                <div class="{{eachtabcontent.tabData.class}} custom-class-1111">
                  <div [innerHTML]="eachtabcontent.tabData.top.value">
                  </div>

                  <!-- charts -->
                  <div *ngIf="eachtabcontent.tabData.type == 'chart'; else elseBlock">
                    <div class="{{eachtabcontent.tabData.middle.class}} ng-chart-second-level">
                      <div class="{{eachtabcontent.tabData.middle.middleMiddle.styleClass}}">
                        <p-chart type="{{eachtabcontent.tabData.middle.middleMiddle.type}}" height="300px" [data]="eachtabcontent.tabData.middle.middleMiddle.data" [options]="eachtabcontent.tabData.middle.middleMiddle.options">
                        </p-chart>
                      </div>
                      <div class="{{eachtabcontent.tabData.middle.middleRight.styleClass}}">
                        <div [innerHTML]="eachtabcontent.tabData.middle.middleRight.value"></div>
                      </div>
                    </div>
                  </div>

                  <!-- TABLE -->
                  <div *ngIf="eachtabcontent.tabData.type == 'table'; else elseBlock">
                    <div style="clear:both;" id="mytable">
                      <p-table #dt [columns]="eachtabcontent.tabData.middle.thead" [value]="eachtabcontent.tabData.middle.tabledata" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]" sortField="{{eachtabcontent.tabData.middle.tSortField}}" sortOrder="-1" >
                        <ng-template pTemplate="caption" class="table-border">
                          <div class="row">
                            <div class="col-md-4 table-colum-multiselect" style="text-align:left;">
                              <p-multiSelect [options]="eachtabcontent.tabData.middle.tfields" [(ngModel)]="eachtabcontent.tabData.middle.thead" optionLabel="header"
                                selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns"></p-multiSelect>
                            </div>
                            <div class="col-md-4 table-keyword-search" style="text-align:left;">
                              <input type="text" class="input-search" pInputText size="30" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                            </div>
                            <div class="ui-helper-clearfix col-md-4 table-copy-excel-button" style="text-align:right;">
                              <div class="col-md-6 button-copy">
                                <button id="copy-button-{{eachtabcontent.tabData.tableId}}" (click)="copyMessage(eachtabcontent.tabData.middle.tabledata)" value="click to copy" >COPY</button>
                              </div>
                              <div class="col-md-6 button-excel">
                                <button type="button" pButton iconPos="left" label="EXCEL" (click)="dt.exportCSV()" style="float:right;"></button>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of eachtabcontent.tabData.middle.thead" [pSortableColumn]="col.field">
                                  {{col.header}}
                                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-car let-columns="eachtabcontent.tabData.middle.thead">
                            <tr>
                              <td *ngFor="let col of eachtabcontent.tabData.middle.thead" [innerHTML]="car[col.field]">
                              </td>
                            </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                  <div [innerHTML]="eachtabcontent.tabData.bottom.value">
                  </div>
                </div>
              </p-tabPanel>
            </div>
          </p-tabView>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- init chart canvas -->
<div class="" style="height:0px;width:0px;">
  <canvas id="myChart" ></canvas>
</div>









