
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

body {
  padding: 20px;
}

.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}

.bg-009ddf{
  background-color: #0090df;
}
.bg-c6c6c6{
  background-color: #c6c6c6;
}
.bg-f7d417{
  background-color: #f7d417;
}

.color-fff {
  color: #000;
}

.height-60 {
  height: 60px;
}
.bg-05d23e {
  background-color: #05d23e;
}

.bg-00aade {
  background-color: #001a4e;
}

.bg-d6006e {
  background-color: #d6006e;
}

.bg-7dba00 {
  background-color: #7dba00;
}

.bg-4a245e {
  background-color: #4a245e;
}

.bg-0093d0 {
  background-color: #0093d0;
}

.bg-002596 {
  background-color: #002596;
}

.bg-cc292b {
  background-color: #cc292b;
}

.bg-00aeef {
  background-color: #00aeef;
}

.bg-7dba00 {
  background-color: #7dba00;
}

.bg-75d1e0 {
  background-color: #75d1e0;
}

.bg-00134b {
  background-color: #00134b;
}

.width-10 {
  width: 10px;
}

.height-10 {
  height: 10px;
}

.width-32 {
  width: 32px;
}

.height-400 {
  height: 400px;
}

.bottom-border-1-grey {
  border: 1px solid grey;
}

.middle-border-2-lightblue {
  border: 2px solid lightblue;
}

.legend-square {
  float: left;
  height: 12px;
  width: 12px;
  margin: 2px;
  margin-right: 6px;
}

.table-cell {
  width: 44px;
  margin: 2px;
  word-break: break-all;
}

.ng-tab-view-wrapper-hide .ui-tabview-nav {
  display: none;
}

.ui-tabview.ui-tabview-top>.ui-tabview-nav {
  border-bottom: solid 2px rgba(0, 0, 0, 0.12);
}
.ui-tabview.ui-tabview-top>.ui-tabview-nav li {
  border: 0;
}

.ng-tab-view-wrapper-show .ui-tabview-nav li.ui-tabview-selected a {
  border-bottom: solid 3px #d6006e;
  color: rgb(63, 81, 181);
}

.ui-tabview .ui-tabview-nav li a,
.ui-tabview.ui-tabview-collapsible .ui-tabview-nav li.ui-tabview-selected a {
  background-color: white;
  font-size: 14px;
  padding: 12px 24px;
}

.ui-state-default a {
  color: rgba(0, 0, 0, 0.54);
}

.even-clear-both {
  clear: both;
}
