<!--The content below is only a placeholder and can be replaced.-->

<!-- <button (click)="saveImage()" class="btn btn-primary">Save Image</button>
<div id="demoChart">
  <div echarts class="chart"></div>
</div> -->
<!-- <div class="app-test"></div> -->
<!-- <div app-test></div> -->

<!-- <div echarts id="setOptionChart" [options]="chartOption"></div> -->


<!-- <div width="10" height="10">
  <canvas id="canvas"></canvas>
</div>
 -->

<!-- <div>
  <p-dropdown 
  [options]="businessUnit" 
  [(ngModel)]="selectedCity" 
  placeholder="Business Unit" 
  optionLabel="name" 
  [showClear]="false" 
  (onChange)="updateTherapeuticAreas($event)" 
  [autoWidth]="false" 
  [style]="{'width': '300px'}"
  ></p-dropdown>
</div>

<div>
  <p-dropdown 
  [options]="availableTherapArea" 
  [(ngModel)]="selectedTherap" 
  placeholder="Therapetic Area" 
  optionLabel="therapAreaName" 
  [showClear]="false" 
  (onChange)="updateProgram($event)" 
  [autoWidth]="false" 
  [style]="{'width': '300px'}"
  ></p-dropdown>
</div>

<div>
  <p-dropdown 
  [options]="availableProgram" 
  [(ngModel)]="selectedProgram" 
  placeholder="Select Program" 
  optionLabel="programName" 
  [showClear]="false" 
  (onChange)="updateSubmitButton($event)" 
  filter="true" 
  [autoWidth]="false" 
  [style]="{'width': '300px'}"
  ></p-dropdown>
</div> -->
<app-hcp-template 
[hcpData]="hcpData"></app-hcp-template>


<hr>
<hr>
<div class="edit-password-form">
  <h3>Current Password</h3>
  <span class="ui-float-label">
      <input type="text" size="30" pInputText [(ngModel)]="text" required="true"> 
  </span>
</div>
<div class="edit-password-form">
  <h3>Email Address *</h3>
  <span class="ui-float-label">
      <input type="text" size="30" pInputText [(ngModel)]="text"> 
  </span>
</div>
<div class="edit-password-form">
  <h3>User Name *</h3>
  <span class="ui-float-label">
      <input type="text" size="30" pInputText [(ngModel)]="text"> 
  </span>
</div>

<!-- password input -->
<div class="password edit-password-form">
  <h3>Password *</h3>
  <input type="password" pPassword />
</div>

<!-- radio -->
<div class="edit-password-form">
  <h3 class="first">status</h3>
  <div class="ui-g" style="width:250px;margin-bottom:10px">
      <div class="ui-g-12"><p-radioButton name="group1" value="Blocked" label="Blocked" [(ngModel)]="val1" inputId="opt1"></p-radioButton></div>
      <div class="ui-g-12"><p-radioButton name="group1" value="Active" label="Active" [(ngModel)]="val1" inputId="opt2"></p-radioButton></div>
  </div>
</div>
Selected Value = {{val1||'none'}}

<!-- check box -->
<div class="edit-password-form" for="userRoles">
  <h3 class="first">Roles</h3>
  <div class="ui-g" style="width:250px;margin-bottom:10px" *ngFor="let userRole of userRoles">
      <div class="ui-g-12"><p-checkbox name="{{userRole.name}}" value="{{userRole.value}}" label="{{userRole.label}}" [(ngModel)]="selectedRoles"></p-checkbox></div>
  </div>
</div>
Selected Roles: <span *ngFor="let role of selectedRoles" style="margin-right:10px">{{role}}</span>

<!-- button -->
<div>
  <button pButton type="button" label="SAVE" class="save-button" style="margin: 10px;"></button>
  <button pButton type="button" label="CANCEL ACCOUNT" class="cancel-button" style="margin: 10px;"></button>
</div>



<div class="row" for="primengDataGeneral">
  <div *ngFor="let blockData of primengDataGeneral" >
    <div for="blockData.blockContent">  
      <div class="{{blockData.blockClass}}">
        <div class="{{blockData.blockClassSub}}">
          <div [innerHTML]="blockData.blockHeader"></div>
          <p-tabView class="ng-tab-view-wrapper-{{blockData.tabShow}}">
            <div *ngFor="let eachtabcontent of blockData.blockContent; let i = index">
              <p-tabPanel header="{{eachtabcontent.tabTitle}}" class="ng-tab-panel-wrapper" [selected]="i == 0">
                <div class="{{eachtabcontent.tabData.class}} ng-tab-top-class">
                  <div [innerHTML]="eachtabcontent.tabData.top.value">
                  </div>

                  <!-- chartjs -->
                  <div *ngIf="eachtabcontent.tabData.type == 'chart'; else elseBlock">
                    <app-primeng-chartjs [chartInputData]="eachtabcontent"></app-primeng-chartjs>    
                  </div>

                  <!-- table -->
                  <div *ngIf="eachtabcontent.tabData.type == 'table'; else elseBlock">
                    <app-primeng-table [tableInputData]="eachtabcontent"></app-primeng-table>
                  </div>

                  <div [innerHTML]="eachtabcontent.tabData.bottom.value">
                  </div>
                </div>
              </p-tabPanel>
            </div>
          </p-tabView>
        </div>
      </div>
    </div>
  </div>
</div>





