.margin-top-6 {
  margin-top: 6px;
}
.margin-bottom-0 {
  margin-bottom: 0px;
}
.margin-bottom-46 {
  margin-bottom: 46px;
}
.margin-bottom-26 {
  margin-bottom: 26px;
}
.margin-top-26 {
  margin-top: 26px;
}
.margin-top-360 {
  margin-top: 120px;
}
.margin-left-auto {
  margin-left: auto;
}
.margin-left-24 {
  margin-left: 24;
}
.margin-right-auto {
  margin-right: auto;
}
.padding-left-12 {
  padding-left: 12px;
}
.padding-top-56 {
  padding-top: 56px;
}
.border-top-1F497C-solid-1px {
  border-top: #1F497C solid 1px;
}

.border-left-1F497C-solid-3px {
  border-left: #1F497C solid 3px;
}

.border-1F497C-solid-3px {
  border: #1F497C solid 3px;
}

.height-446 {
  height: 446px;
}
.width-240 {
  width: 240px;
}

.height-746 {
  height: 646px;
}
.width-840 {
  width: 840px;
}


.image-width {
  width: 154px;
}
.image-height {
  height: 126px;
}
.float-left {
  float: center;
}
.color-1F497C {
  color: #1F497C;
}
.font-weight-bold {
  font-weight: bold;
}
.font-weight-normal {
  font-weight: normal;
}
.font-italic {
  font-style: italic;
}
.font-normal {
  font-style: normal;
}
.over-flow {
  overflow:scroll;
}
