

<div *ngFor="let eachHCPDate of hcpData">
  
  <div *ngIf="eachHCPDate.fieldName == 'businessUnit'">
    <p-dropdown 
    [options]="eachHCPDate.data" 
    [(ngModel)]="selectedCity" 
    placeholder="Business ssUnit" 
    [showClear]="false" 
    (onChange)="updateTherapeuticAreas($event, eachHCPDate.therapArea)" 
    [autoWidth]="false" 
    [style]="{'width': '500px'}"
    ></p-dropdown>
  </div>

  <div *ngIf="eachHCPDate.fieldName == 'therapArea'">
    <p-dropdown 
    [options]="availableTherapArea" 
    [(ngModel)]="selectedTherap" 
    placeholder="Therapetic Area" 
    [showClear]="false" 
    (onChange)="updateProgram($event, eachHCPDate.programArea)" 
    [autoWidth]="false" 
    [style]="{'width': '500px'}"
    ></p-dropdown>
  </div>

  <div>
    <p-dropdown 
    [options]="availableProgram" 
    [(ngModel)]="selectedProgram" 
    placeholder="Select Program" 
    [showClear]="false" 
    (onChange)="updateSubmitButton($event)" 
    filter="true" 
    [autoWidth]="false" 
    [style]="{'width': '500px'}"
    ></p-dropdown>
  </div>

<div>
  <p-button label="Generate Report" [disabled]="enableHCPSubmitButton"></p-button>
</div>
</div>